<section class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <p>{{user.username}} • {{format_date created_at}}</p>
    </li>

    <li class="list-group-item">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{content}}</p>
    </li>
    
    <li class="list-group-item">
      <a href="/post/{{id}}">{{vote_count}} {{format_plural "point" vote_count}} • {{comments.length}} {{format_plural "comment" comments.length}}</a>
    </li>
  </ul>
</section>