{{!-- Post --}}
  <section class="card">
    <a class="nav-link" href="/dashboard">Dashboard</a>

    <h2>Edit Post</h2>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>{{user.username}} • {{format_date created_at}}</p>
      </li>

      <li class="list-group-item">
        <form class="card" id="form-edit-post">
          <div class="mb-3">
            <label for="form-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="form-title" name="post-title" value="{{post.title}}">
          </div>

          <div class="mb-3">
            <label for="form-content" class="form-label">Content</label>
            <input type="text" class="form-control" id="form-content" name="post-content" value="{{post.content}}">
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-primary">Delete</button>
        </form>
      </li>
      
      <li class="list-group-item">
        <a href="/post/{{id}}">{{vote_count}} {{format_plural "point" vote_count}} • {{comments.length}} {{format_plural "comment" comments.length}}</a>
      </li>
    </ul>
  </section>

{{> comments post.comments}}

{{!-- Comment Form --}}
  <form class="card" id="form-comment">
    <div class="mb-3">
      <label for="comment-body" class="form-label">Example textarea</label>
      <textarea class="form-control" id="comment-body" rows="3" name="comment-body"></textarea>
    </div>

    <button type="button" class="btn btn-primary">⬆ vote</button>
    <button type="submit" class="btn btn-primary">Add a comment</button>
  </form>

{{#if loggedIn}}
  <script src="../public/javascript/edit-post.js"></script>
  <script src="../public/javascript/delete-post.js"></script>
  <script src="../public/javascript/comment.js"></script>
{{/if}}
